- Kospi/Kosdaq 일별 데이터
- USD 환율

In [4]:
import requests
import pandas as pd

#### 1. Kospi / Kosdaq

In [8]:
def stock_price(pagesize, page, code='KOSPI'):
    '''This function is crawling stock price from naver web page.
    
    Params
    ------
    pagesize : int : one page size
    page : int : page number
    code : str : KOSPI or KOSDAQ
    
    Return
    ------
    type : DataFrame : display date, price columns
    '''
    # url
    url = f'https://m.stock.naver.com/api/index/{code}/price?pageSize={pagesize}&page={page}'
    # requests
    response = requests.get(url)
    # json(str)
    data = response.json()
    # DataFrame
    return pd.DataFrame(data)[['localTradedAt', 'closePrice']]

In [12]:
help(stock_price)

Help on function stock_price in module __main__:

stock_price(pagesize, page, code='KOSPI')
    This function is crawling stock price from naver web page.

    Params
    ------
    pagesize : int : one page size
    page : int : page number
    code : str : KOSPI or KOSDAQ

    Return
    ------
    type : DataFrame : display date, price columns

In [9]:
# Kospi
stock_price(10, 1).head(2)

  localTradedAt closePrice
0    2022-08-05   2,490.80
1    2022-08-04   2,473.11

In [10]:
# Kosdaq
stock_price(10, 1, 'KOSDAQ').head(2)

  localTradedAt closePrice
0    2022-08-05     831.64
1    2022-08-04     825.16

#### 2. 원 달러 환율 데이터 수집

In [18]:
def KRW(page, pagesize):
    '''This function is crawling Exchange Rate (KRW-USD) from naver web page.
    
    Params
    ------
    pagesize : int : one page size
    page : int : page number
    
    Return
    ------
    type : DataFrame : display date, price columns
    '''
    url = f'https://api.stock.naver.com/marketindex/exchange/FX_USDKRW/prices?page={page}&pageSize={pagesize}'
    response = requests.get(url)
    data = response.json()
    return pd.DataFrame(data)[['localTradedAt', 'closePrice']]

In [19]:
help(KRW)

Help on function KRW in module __main__:

KRW(page, pagesize)
    This function is crawling Exchange Rate (KRW-USD) from naver web page.

    Params
    ------
    pagesize : int : one page size
    page : int : page number

    Return
    ------
    type : DataFrame : display date, price columns

In [20]:
KRW(1, 60).head(2)

  localTradedAt closePrice
0    2022-08-05   1,298.50
1    2022-08-04   1,308.00