In [1]:
import pandas as pd
import requests, json

In [2]:
def translate(txt):
    '''This function translates korean text to english text from naver papago.
    
    Params
    ------
    txt : str : Korean text
    
    Return
    ------
    txt_en : str : English text
    '''
    
    # naver api app key 등록
    CLIENT_ID, CLIENT_SECRET = "pSwyB6r8RQq7e_mJ7NHP", "DZ5d13Q44t"
    # url
    url = "https://openapi.naver.com/v1/papago/n2mt"
    params = {
        'source': 'ko',
        'target': 'en',
        'text': txt
    }

    headers = {
        'Content-Type': 'application/json',
        'X-Naver-Client-Id': CLIENT_ID,
        'X-Naver-Client-Secret': CLIENT_SECRET
    }
    # requests
    response = requests.post(url, json.dumps(params), headers = headers)
    # DataFrame
    return response.json()['message']['result']['translatedText']

In [3]:
help(translate)

Help on function translate in module __main__:

translate(txt)
    This function translates korean text to english text from naver papago.

    Params
    ------
    txt : str : Korean text

    Return
    ------
    txt_en : str : English text

In [4]:
txt = '웹 크롤링은 재미있습니다.'
txt_en = translate(txt)
txt_en

'Web crawling is fun.'

#### csv파일에 함수 사용

In [6]:
covid = pd.read_excel('../../data/covid.xlsx')[['category', 'title']]
covid_en = covid['title'].apply(translate)

In [7]:
covid['title_en'] = covid_en
covid

,category,title,title_en
0,101,"SK바이오사이언스, 코로나19 백신 임상 3상 시험계획 제출",SK Bioscience Submits Phase III Clinical Trial...
1,102,고양시 노래연습장 코로나19 누적확진 41명,41 cumulative COVID-19 confirmed patients at G...
2,103,"코로나19 신규 감염, 28일 오후 9시까지 542명","New COVID-19 infections, 542 people by 9 p.m. ..."
3,103,프로야구 수도권 구단서 코로나19 확진자 발생,Covid-19 confirmed cases in professional baseb...
4,104,"""코로나 확진자 '0명'인 날은 절대 오지 않는다"" 美전문가","""The day when there are zero confirmed cases o..."
5,104,올림픽 다가오는데 도쿄 코로나 확산 빨라져...일주일새 25％↑,"As the Olympics are approaching, the spread of..."

In [8]:
# xlsx파일로 save
# covid.to_excel('covid_en.xlsx', index=False, encoding='utf-8-sig')