In [3]:
import pandas as pd
import requests, json

In [12]:
def search_trend(startDate, endDate):
    CLIENT_ID, CLIENT_SECRET = "3IggRLfWgbei77lDntce", "cmsf8eaQPA"
    url = 'https://openapi.naver.com/v1/datalab/search'
    params = {
        'startDate': startDate,
        'endDate': endDate,
        'timeUnit': 'month',
        'keywordGroups': [
            {'groupName': '트위터', 'keywords': ['트위터', '트윗']},
            {'groupName': '페이스북', 'keywords': ['페이스북', '페북']},
            {'groupName': '인스타그램', 'keywords': ['인스타그램', '인스타']},
        ]
    }
    headers = {
        'Content-Type': 'application/json',
        'X-Naver-Client-Id': CLIENT_ID,
        'X-Naver-Client-Secret': CLIENT_SECRET,
    }
    response = requests.post(url, json.dumps(params), headers=headers)
    data = response.json()['results']
    df = pd.DataFrame({
        'date': [period['period'] for period in data[0]['data']],
        'twitter': [ratio['ratio'] for ratio in data[0]['data']],
        'facebook': [ratio['ratio'] for ratio in data[1]['data']],
        'instagram': [ratio['ratio'] for ratio in data[2]['data']],

    })
    return df

In [13]:
startDate, endDate = '2018-01-01', '2022-07-31'
search_trend(startDate, endDate)

          date   twitter   facebook  instagram
0   2018-01-01  14.59502   97.80481   23.41982
1   2018-02-01  13.02380   89.05814   22.53544
2   2018-03-01  12.97953   98.84292   25.39880
3   2018-04-01  12.82991  100.00000   26.55983
4   2018-05-01  13.05391   92.23588   28.60035
5   2018-06-01  13.34512   91.70143   28.40753
6   2018-07-01  13.02773   87.91600   27.84405
7   2018-08-01  13.45399   83.56488   29.84383
8   2018-09-01  12.83755   82.66018   25.05096
9   2018-10-01  13.05677   81.30381   27.20480
10  2018-11-01  12.77338   76.80167   21.97864
11  2018-12-01  12.86931   75.43269   20.87390
12  2019-01-01  13.31172   70.21709   22.51379
13  2019-02-01  11.74776   62.57096   19.33788
14  2019-03-01  11.82313   70.02431   21.67678
15  2019-04-01  12.32991   71.67271   21.16257
16  2019-05-01  12.43771   67.79872   20.94850
17  2019-06-01  13.29913   69.23259   21.76954
18  2019-07-01  14.00593   64.22088   22.58600
19  2019-08-01  14.20800   61.74662   21.43535
20  2019-09-01  14.00856   62.30318   19.83802
21  2019-10-01  14.88466   62.46025   22.24957
22  2019-11-01  14.35200   59.88514   21.55812
23  2019-12-01  14.36689   57.80639   21.52333
24  2020-01-01  16.05722   55.94828   22.03810
25  2020-02-01  15.71465   56.90092   21.53446
26  2020-03-01  18.56690   63.03497   25.01454
27  2020-04-01  18.29928   57.31923   24.12708
28  2020-05-01  21.05230   56.65968   25.68412
29  2020-06-01  19.27569   54.42362   25.47291
30  2020-07-01  20.59297   56.80884   27.08637
31  2020-08-01  19.35980   54.60338   26.73002
32  2020-09-01  19.96801   51.64203   26.01090
33  2020-10-01  20.88909   48.64782   26.21388
34  2020-11-01  19.58926   46.34281   25.81836
35  2020-12-01  21.54861   47.16999   25.74078
36  2021-01-01  21.93972   43.23795   25.52430
37  2021-02-01  20.09926   37.94335   22.79679
38  2021-03-01  21.47994   42.96809   28.04835
39  2021-04-01  22.94525   42.44860   27.90414
40  2021-05-01  23.00813   39.64216   26.56014
41  2021-06-01  22.19201   38.09701   26.31208
42  2021-07-01  22.44472   36.44556   25.15776
43  2021-08-01  23.87169   34.16464   25.07517
44  2021-09-01  21.40248   31.21080   24.95299
45  2021-10-01  22.49636   32.85607   28.76584
46  2021-11-01  21.34380   28.60438   23.30904
47  2021-12-01  21.55931   27.23295   22.87539
48  2022-01-01  21.94339   25.93933   22.08050
49  2022-02-01  22.43099   23.62130   20.23895
50  2022-03-01  23.78266   24.75851   22.42260
51  2022-04-01  23.83847   22.22382   22.07676
52  2022-05-01  22.99363   21.65302   22.23291
53  2022-06-01  23.24110   20.04381   21.63141
54  2022-07-01  24.06197   19.53712   21.40551